@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, To May NationalCode Validator</h1>
    <p>Please Click <a asp-controller="Customer" asp-action="Create">Here</a> and create a customer.</p>
</div>
